{% extends 'base.html' %}

{% block content %}
<h1><a href="{% url 'buy:show_main' %}" style="color: black; text-decoration: none;">Checkout</a></h1>

{% for listing in listings %}
    <div>
        <h2>{{ listing.name }}</h2>
        <p>Price: {{ listing.price }}</p>
        <p>Stock: {{ listing.stock }}</p>
        <p>listingID: {{ listing.listingId }}</p>
        <p>sellerID: {{ listing.seller }}</p>
    </div>
{% endfor %}

<a href="{% url 'buy:see_cart' %}"><button>Back</button></a>

{% endblock content %}
