{% extends 'base.html' %}

{% block content %}
<h1>HomePage</h1>
{% if not request.COOKIES.token %}
<a href="{% url 'authentication:login' %}"><button>Login</button></a>
<a href="{% url 'authentication:register' %}"><button>Register</button></a>
{% else %}
<h2>Hello, {{ request.session.name }}</h2>
<a href="#"><button>Products</button></a>
<a href="#"><button>Top Up</button></a>
<a href="#"><button>Buy</button></a>
<a href="#"><button>Sell</button></a>
<a href="{% url 'authentication:logout' %}"><button>Logout</button></a>
{% endif %}
{% endblock content %}